    /*button*/
    button{
        font-family: sans-serif;
        margin-left: 10px;
    }
    /*titols taula*/
    th {
        font-size: 1.2em;
    }
    /*spans per errors de validacions*/
    .spanError {
        color: red;
    }
    /*espais necessaris*/
    .create-product-button, .read-products-button {
        margin: 2vw;
    }
    form {
        margin-top: 3vw;
    }